fastapi[standard]
httpx[socks]

pydantic
pydantic-settings

llama-index
llama-index-readers-github
llama-index-readers-web

langchain
langchain-openai
langchain-deepseek
langchain-google-genai
langchain-cohere

pinecone
protobuf
googleapis-common-protos
grpcio
pinecone-text
