annotated-types==0.7.0
anyio==4.11.0
black==25.9.0
certifi==2026.2.25
cfgv==3.4.0
click==8.3.0
cohere==5.15.0
distlib==0.4.0
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.118.0
fastapi-cli==0.0.13
fastapi-cloud-cli==0.3.0
filelock==3.20.0
flake8==7.3.0
grpcio==1.75.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
hyperframe==6.1.0
identify==2.6.15
idna==3.11
isort==6.1.0
Jinja2==3.1.6
langchain==0.3.23
charset-normalizer==3.4.66
langchain-core==0.3.23
requests==2.33.11
langchain-openai==0.3.12
langchain-pinecone==0.2.4
langchain-text-splitters==0.3.8
llama-index==0.12.29
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.1
llama-index-core==0.12.29
llama-index-embeddings-openai==0.3.1
llama-index-graph-stores-neptune==0.3.3
llama-index-indices-managed-llama-cloud==0.6.11
llama-index-legacy==0.9.48
llama-index-llms-openai==0.3.30
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.1
llama-index-readers-file==0.4.7
llama-index-readers-github==0.6.0
llama-index-readers-llama-parse==0.4.0
llama-index-vector-stores-pinecone==0.4.5
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
mypy_extensions==1.1.0
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==2.3.3
openai==1.73.0
packaging==25.0
pathspec==0.12.1
pinecone==8.1.0
pinecone-plugin-assistant==3.0.3
pinecone-plugin-inference==3.2.0
pinecone-plugin-interface==0.0.7
pinecone-text==0.11.0

# Testing dependencies
pytest==9.0.2
pytest-asyncio==1.3.0
portalocker==3.2.0
pre_commit==4.3.0
protobuf==6.32.1
pycodestyle==2.14.0
pydantic==2.12.0
pydantic-settings==2.11.0
pydantic_core==2.41.1
pyflakes==3.4.0
Pygments==2.19.2
python-dotenv==1.1.1
python-multipart==0.0.20
pytokens==0.1.10
PyYAML==6.0.3
requests-html==0.10.0
rich==14.1.0
rich-toolkit==0.15.1
rignore==0.7.0
sentry-sdk==2.40.0
shellingham==1.5.4
sniffio==1.3.1
socksio==1.0.0
starlette==0.48.0
tiktoken==0.9.0
typer==0.19.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.37.0
uvloop==0.21.0
virtualenv==20.35.0
watchfiles==1.1.0
websockets==15.0.1

# Additional dependencies for tests
langchain-cohere==0.5.0
